* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    --font-size-base: 15px;
    --font-size-h2: 21px;
    --font-size-h3: 17px;
}

h2,.PlayList input {
    font-size: var(--font-size-h2);
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: 400;
    letter-spacing: .5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    /* min-width: 0; */
}

p {
    font-size: 13px;
    font-weight: 200;
    color: #ffffffae;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    /* min-width: 0; */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000000;
    background-image: url(./assets/background_cd.png);
    /* background-size: cover; */
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #606060;
    background-position: top center;
    /* mask-image: linear-gradient(0deg,transparent 90%,white 100); */
    
}

.TrackList::-webkit-scrollbar {
    width: 20px;
}

.TrackList::-webkit-scrollbar-thumb {
    background-color: #ffffff31;
    border-radius: 2px;
    border: 8px solid transparent;
    background-clip: padding-box;
    border-radius: 100px;
}

.TrackList::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff7a;
}

.TrackList::-webkit-scrollbar-track {
    background-color: transparent;
    /* background-color: #ffffff1f; */
    
    /* width: 8px; */
    /* margin: 0 12px; */
}



.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    height: 100vh;
    overflow: hidden;
}




.StateBar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 56px;
    color: #fff;
    background-color: #000000c4;
    backdrop-filter: blur(50px);
    flex: none;
    z-index: 100;
    /* align-items: center; */
}

.logo-jam {
    position: absolute;
    bottom: -24px;
    width: 148px;
    color: #fff;
}

.SearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: clamp(200px, 92%, 480px);
    height: 56px;
    background-color: #ffffffc8;
    border-radius: 8px;
    flex: none;
    order: 0;
    /* margin: 80px 0; */
}

.SearchBar input {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease;
    /* text-align: center; */
}

.SearchBar input::placeholder {
    color: #00000031;
    font-weight: 300;
}

.SearchButton {
    width: 128px;
    height: 40px;
    margin: 0 8px;
    color: #fff;
    background-color: #000000;
    font-size: var(--font-size-base);
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: #2d2d2d;
}

.SearchButton:active {
    transform: scale(0.98);
}

.App-twolists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
    flex: 1 1 0;
    min-height: 0;
    width: clamp(200px, 92%, 992px);
}



.PlayList,
.SearchResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    /* width: 480px; */
    
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(50px);
    border-radius: 8px;
    height: 100%;
    flex: 1 1 0;
    min-width: 0;
}

.PlayList{
    padding: 32px 0px;
}

.PlayList-header{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: row; */
    gap: 8px;
    width: 100%;
    padding: 0 40px;
    /* justify-self: flex-start; */
}

.PlayList input{
    field-sizing: content;
    max-width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: transparent;
    border: none;
    text-overflow: ellipsis;
    outline:none;
    /* transition: all 0.2s ease; */
}

.PlayList input:focus{
    text-decoration: underline;
    text-decoration-color:#fff ;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
}

.ic-edit {
    width: 20px;
    color: #fff;
    flex-shrink: 0;
    opacity: .5;
}

.SearchResult{
    padding: 32px 0px 0 0;
}

.TrackList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    flex: 0 1 auto;
    scrollbar-gutter: stable;
    padding-bottom: 16px;
    /* flex-grow: 1; */
    /* gap: 16px; */
    /* max-height: 300px; */
    /* max-height:300px ; */
}

.TrackList

.Track {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    height: 72px;
    padding: 0 0 0 24px;
    border-radius: 0px;
    flex: none;
    position: relative;
}

.Track:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 4px;
    height: 0.5px;
    background-color: #ffffff2e;
}


.PlayList-save {
    /* width: 100%; */
    align-self: stretch;
    margin: 0 24px;
    height: 40px;
    flex: none;
    color: #000;
    font-size: var(--font-size-base);
    font-weight: 400;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Album-cover {
    width: 40px;
    height: 40px;
    /* margin-right: 16px; */
    border-radius: 50%;
    mask-image: radial-gradient(circle at center, transparent 11%, rgba(0, 0, 0, .3) 11.1%, rgba(0, 0, 0, .3) 20%, black 20.1%);
    /* mask-image: radial-gradient(circle at center, transparent 15%, black 15.5%); */
    /* object-fit: cover; */
    /* background-image: url(./assets/border.png),conic-gradient(from 15deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.6) 15%,
            rgba(255, 255, 255, 0.05) 30%,
            rgba(255, 255, 255, 0.05) 50%,
            rgba(255, 255, 255, 0.6) 65%,
            rgba(255, 255, 255, 0.05) 80%,
            rgba(255, 255, 255, 0.05) 100%), url(./assets/music1.png); */
    background-size: cover;
    background-position: center;
    background-blend-mode: normal,overlay,normal;
    flex: none;
    /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 
              inset 0 0 4px rgba(255, 255, 255, 0.3); */
    /* background-color: #000; */
}

.Track-information {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    gap: 6px;
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;
}



.Track-action {
    width: 32px;
    height: 32px;
    /* align-self: flex-end; */
    /* margin-left: auto; */
    font-size: 16px;
    color: #ffffffd8;
    background-color: #00000055;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    flex: none;
}

.Track-action:hover {
    color: #000000;
    background-color: #fffffff3;
}

button:active {
    transform: scale(0.98);
}


@media screen and (max-width: 1024px) {
    body{
            background-size: 200%;
    }

    .StateBar {
        background-color: transparent;
        backdrop-filter: none;
        /* top:40px; */
        position: relative;
        
    }

    .logo-jam {
        /* position: relative; */
        /* bottom: 0; */
        /* color: #; */
        bottom: -64px;

    }

    .App {
        height: auto;
        min-height: 100vh;
        overflow:visible;
        /* overflow-y: auto; */
        justify-content: flex-start;
        gap: 16px;
    }

    .SearchBar {
        order: 0;
        margin-top: 120px;
        margin-bottom: 24px;
    }

    .App-twolists {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 64px;
        justify-content: flex-start;
        flex:none;
    }

    /* .PlayList{
        order: 1;
    } */

    /* .SearchResult{
        order: 1;
    } */

    .SearchResult,PlayList {
        height: auto;
        flex:none;
    }
    
    /* .Track{
        padding: 0 24px;
    } */

}

@media (hover: none) and (pointer: coarse) {
    
    /* 1. 废除电脑端的滚动条占位，因为触控设备都是悬浮滚动条 */
    .TrackList {
        scrollbar-gutter: auto; 
    }

    /* 2. 隐藏难看的默认滚动条，完全依赖手指顺滑滚动 */
    .TrackList::-webkit-scrollbar {
        display: none; 
    }

    /* 3. 恢复完美的左右 24px 物理对称！ */
    .Track {
        padding: 0 24px; 
    }

    .Track:not(:last-child)::after {
        right: 24px;
    }
}